<div id="experiment" class="sailsbody fill">
<!-- 
	<div class="start-button" id="start-button">
		<button class="btn btn-success " ng-click="startExperiment()">Start!</button>
	</div>
 -->
	<div id="experiment_dashboard" class="experiment_sails " >
		<div class="row-fluid">
			<div class="span1 buffer">
				<h1>
					<i class="icon-backward"></i>
				</h1>
			</div>

			<div stimuli2>{{stimuli}}</div>

			
			<div class="span1 buffer">
				<h1>
					<i class="icon-forward"></i>
				</h1>
				<p class="">
					<i class="icon-question-sign"></i>
				</p>
			</div>

		</div>
	</div>
</div>
