	<div id="experiment" class="sailsbody fill">
		<!-- The main area of the page -->
		<div id="experiment_dashboard" class="experiment_sails">
			<div class="row-fluid">
				<div class="span1 buffer">
					<h1><i class="icon-backward"></i></h1>
				</div>

				<div id="image_stimuli_presentation_area" class="span4 stimuli">
					<img class="demo_confirm_box" src="modules/sails/image_stimuli/gris.png" ng-click="confirmChoice()"/> <br />
					<img class="demo_confirm_box" src="modules/sails/image_stimuli/pas_gris.png" ng-click="confirmChoice()" />
				</div>


				<div id="reinforcement_area" class="span6 reinforcement">
					<img id="reinforcement_image"  />
				</div>

				<div class="span1 buffer">
					<h1><i class="icon-forward"></i></h1>
          			<p class="">
						<i class="icon-question-sign"></i>
					</p>
				</div>

			</div>
		</div>

		<div id="results_dashboard" class="hidden well">
			<h3 class="locale_results_title">Results:</h3>
			TODO
		</div>

		<div id="audio_stimuli_presentation_area" class="hidden">
			<audio id="audio_stimuli_player_source" src={{audioStimulus}} ng-model="audio_stimulus"></audio>			
			<audio id="audio_instructions_player_source" src="sails/audio_stimuli/sails_instructions.mp3" ng-model="audio_instructions_player_source" autoplay></audio>
		</div>
	</div>
  
	<!-- Modals are windows which pop over the active app to take focus -->
	<div id="new_participant" data-backdrop="static" class="hidden modal "></div>

	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

  <script src="libs/jquery.js"></script>
  <script src="prototype.js"></script>