#ignore compiled js files
release
compiled_handlebars.js
*.handlebars.js

#ignore copied js files
client/app/libs/oprime/
android/assets/release
debug_chromeapp/
debug_sails_chromeapp/

#ignore security certificates
dyslexdisorthgame_debug.key
dyslexdisorthgame_debug.csr
dyslexdisorthgame_debug.crt

#ignore config files
couchkeys.js
everyauthconfig.js

# private constants #
*NonPublic*
*nonpublic*

# Stimuli #
##########
*.png
*.ico
*.wav
*.mp3
*.jpg
*.bmp
*.ogg
*.mov
*.mp4
*stimuli*
*stimulus*

# Experimental Design Files #
#############################
audio_stimuli
image_stimuli
*design.json

# Dont ignore Stock audio #
!gammatone.wav	
!pageflip2.mp3

.idea
.project
.settings
.classpath
proguard.cfg

node_modules
bower_components


##### Mop Files ####
builds

# Android files #
bin/
gen/

# Grunt-built files #
angular_client/build/
angular_client/release/
angular_client/test/

# Font-Awesome #
angular_client/app/libs/font-awesome/

# Temp Files #
*.*~

# LaTeX output #
################
*.dvi
*.log
*.aux
*.toc
*.bbl
*.blg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.ps
*(busy)

# Compiled source #
###################
target
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
!android-gdata-1.30.0.jar
!bursaq-goto.jar
!libGoogleAnalytics.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
#*.log
#*.sql
#*.sqlite

# OS generated files #
######################
*.DS_Store?

*/.DS_Store
*.DS_Store
ehthumbs.db
Icon?
Thumbs.db
*.swp
