.sails_welcome {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border: 1px solid green;
}

.sails_welcome img {
  height: 80%;
}

.sails_welcome span {
  height: 20%;
}

.navigate_text {
  font-family: 'Chalkboard';
  font-size: 3em;
  font-weight: 700;
}

.sails_experiment_toolbar {
  /*background-color: #DEDEDE;*/
  font-size: 2em;
  margin: 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 30px;
  display: inline-block;
  z-index: 100;
}

.left_align {
  float: left;
}

.right_align {
  float: right;
}

.sails_left_block {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  width: 50%;
  text-align: center;
}

.sails_right_block {
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  width: 50%;
}

.top_vertical {
  height: 65%;
}

.top_vertical img {
  height: 100%;
}

.bottom_vertical {
  height: 35%;
}

.bottom_vertical img {
  height: 100%;
}
.all_vertical {
  height: 90%;
}

.all_vertical img {
  position: relative;
  top: 20%;
  left: 20%;
  height: 60%;
}
