<form class="navbar-form navbar-right" role="login">
  <div class="form-group" ng-hide="authentication.user.authenticated" >
    <table cellspacing="0">
      <tbody>
        <tr>
          <td >
            <label for="username">
              Utilisateur
            </label>
          </td>
          <td >
            <label for="pass">
              Mot de pass
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" class="form-control" ng-model="loginDetails.username" name="username" value="" tabindex="1">
          </td>
          <td>
            &nbsp;<input type="password" class="form-control" ng-model="loginDetails.password" name="password" id="pass" tabindex="2">
          </td>
          <td>
            &nbsp;<button type="submit" class="btn btn-default" ng-click="login(loginDetails)" tabindex="3">
            Connexion
          </button>
          <span ng-show="isContactingServer" >
            <img class="img" src="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif" alt="" width="16" height="11">
          </span>
        </td>
      </tr>
      <tr>
        <td class="login_form_label_field">
        </td>
        <td class="login_form_label_field">
          <a rel="nofollow" href="http://get.phophlo.ca/connexion/contact">
            Vous ne pouvez pas vous connecter?
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{{authentication.error}}
<button ng-show="authentication.user.authenticated"  type="submit" class="btn btn-default" ng-click="logout()" tabindex="3">
  Déconnexion
</button>
</form>
