<div class="row">
    <p>&nbsp;<br/>&nbsp;</p>

  <h1 class="page-header">
    Phophlo is a screening test for early indications of reading troubles, before kids learn to read.
  </h1>
  <div class="col-md-4 text-center">
    <img src="http://phophlo.ca/phophlo_assets/img/ic_sails128.png">
    <img src="http://phophlo.ca/phophlo_assets/img/ic_tcpp128.png">
    <br/>
    <img src="http://phophlo.ca/phophlo_assets/img/ic_tdfp128.png">
    <img src="http://phophlo.ca/phophlo_assets/img/ic_tdfm128.png">
    <br/>
    <img src="http://phophlo.ca/phophlo_assets/img/phophlo.png" height="128">
  </div>
  <div class="col-md-4 lead">
    <div class="feature-description">
      <i class="features-icon fa fa-tasks"></i><br/>
      <strong>
        Manage
      </strong>
      <span>
        your student's Phophlo reports.
      </span>
    </div>
    <div class="feature-description">
      <i class="features-icon fa fa-certificate"></i><br/>
      <strong>
        Print
      </strong>
      <span>
        certificates for children and parents.
      </span>
    </div>
    <div class="feature-description">
      <i class="features-icon fa fa-table"></i>
      <i class="features-icon fa fa-file-pdf-o"></i><br/>
      <strong>
        Export
      </strong>
      <span>
        student's results as Excel or PDF for school records.
      </span>
    </div>
  </div>
  <div class=" col-md-4">
    <h1 class="mbs _3ma _6n _6s _6v" style="font-size: 36px">
      Inscription
    </h1>
    <div>
      <div>
        <noscript>
          &lt;div id="no_js_box"&gt;&lt;h2&gt;JavaScript is disabled on your browser.&lt;/h2&gt;&lt;p&gt;Please enable JavaScript on your browser or upgrade to a JavaScript-capable browser to register for Phophlo.&lt;/p&gt;&lt;/div&gt;
        </noscript>
        <div >
          <div >
            <form class="signup">
              <div  class="col-sm-12">
                <div class="row ">
                  <input type="text" class="col-sm-5 form-control" data-type="text" name="firstname" aria-required="1"  aria-label="Prénom" placeholder="Prénom">
                  <input type="text" class="col-sm-5 form-control" data-type="text" name="lastname" placeholder="Nom de famille" aria-required="1" aria-label="Nom de famille">
                </div>
                <div class="row">
                  <input type="text" class="col-sm-12 form-control" data-type="text" name="reg_email__" aria-required="1" placeholder="Email"  aria-label="Email">
                </div>
                <div class="row">
                  <input type="password" class="col-sm-12 form-control" data-type="text" name="reg_passwd__" aria-required="1" placeholder="Mot de passe"  aria-label="Mot de passe">
                </div>
                <div class="row">
                  <input type="password" class="col-sm-12 form-control" data-type="text" name="reg_passwd__" aria-required="1" placeholder="Confirmer mot de passe"  aria-label="Confirmer mot de passe">
                </div>

                <div >
                  <small>
                    En cliquant sur Inscription, vous acceptez nos
                    <a href="http://get.phophlo.ca/connexion/conditions" target="_blank" rel="nofollow">Conditions</a> et indiquez que vous avez lu notre
                    <a href="http://get.phophlo.ca/connexion/confidentialite" target="_blank" rel="nofollow">Politique d’utilisation des données</a>.
                  </small>
                </div>
                <div >
                  <button type="submit" class="btn btn-default" >
                    Inscription
                  </button>
                  <span class="hidden" >
                    <img class="img" src="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif" alt="" width="16" height="11">
                  </span>
                </div>
              </div>
            </div>
          </form>
          <div class="hidden">
            <div >
              An error occurred. Please try again.
            </div>
          </div>
          <div >
            <a href="/organization/signup/">
              Créer une compte
            </a>
           pour une école, une clinique ou une organisation.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
