<div class="row" ng-controller="SignupController" ng-hide="application.authentication.user.authenticated">
    <p>&nbsp;<br/>&nbsp;</p>

  <h1 class="page-header">
    {{application.brand}}: {{application.tagline}}.
  </h1>
  <div class="col-md-4 text-center">
    <img ng-src="http://{{application.brandLowerCase}}.ca/{{application.brandLowerCase}}_assets/img/ic_sails128.png">
    <img ng-src="http://{{application.brandLowerCase}}.ca/{{application.brandLowerCase}}_assets/img/ic_tcpp128.png">
    <br/>
    <img ng-src="http://{{application.brandLowerCase}}.ca/{{application.brandLowerCase}}_assets/img/ic_tdfp128.png">
    <img ng-src="http://{{application.brandLowerCase}}.ca/{{application.brandLowerCase}}_assets/img/ic_tdfm128.png">
    <br/>
    <img ng-src="http://{{application.brandLowerCase}}.ca/{{application.brandLowerCase}}_assets/img/{{application.brandLowerCase}}.png" height="128">
  </div>
  <div class="col-md-4 lead">
    <div class="feature-description">
      <i class="features-icon fa fa-tasks"></i><br/>
      <strong>
        Gérer
      </strong>
      <span>
        les rapports {{application.brand}} de vos élèves.
      </span>
    </div>
    <div class="feature-description">
      <i class="features-icon fa fa-certificate"></i><br/>
      <strong>
        Imprimer
      </strong>
      <span>
        les certificats pour les enfants et les parents
      </span>
    </div>
    <div class="feature-description">
      <i class="features-icon fa fa-table"></i>
      <i class="features-icon fa fa-file-pdf-o"></i><br/>
      <strong>
        Exporter
      </strong>
      <span>
         les résultats des élèves en format Excel ou PDF pour les dossiers de l'école
      </span>
    </div>
  </div>
  <div class=" col-md-4  " >
    <h1 class="mbs _3ma _6n _6s _6v" style="font-size: 36px">
      Inscription
    </h1>
    <div>
      <div>
        <noscript>
          &lt;div id="no_js_box"&gt;&lt;h2&gt;JavaScript is disabled on your browser.&lt;/h2&gt;&lt;p&gt;Please enable JavaScript on your browser or upgrade to a JavaScript-capable browser to register for {{application.brand}}.&lt;/p&gt;&lt;/div&gt;
        </noscript>
        <div >
          <div >
            <form class="signup" role="validateRegistrationDetails">
              <div  class="col-sm-12">
                <div class="row ">
                  <input type="text" class="col-sm-5 form-control" ng-model="registerDetails.firstname" name="firstname" required ng-change="baseUsernameOnFirstAndALastName()" aria-label="Prénom" placeholder="Prénom">
                  <input type="text" class="col-sm-5 form-control" ng-model="registerDetails.lastname" name="lastname" placeholder="Nom de famille" required ng-change="baseUsernameOnFirstAndALastName()" aria-label="Nom de famille">
                </div>
                <div class="row">
                  <input type="email" class="col-sm-12 form-control" ng-model="registerDetails.email" name="email" required placeholder="Email"  aria-label="Email">
                </div>
                <div class="row">
                  <input type="text" class="col-sm-12 form-control" ng-model="registerDetails.username" name="username" required placeholder="Username"  aria-label="Username">
                </div>
                <div class="row">
                  <input type="password" class="col-sm-12 form-control" ng-model="registerDetails.password" name="password" required placeholder="Mot de passe"  aria-label="Mot de passe">
                </div>
                <div class="row">
                  <input type="password" class="col-sm-12 form-control" ng-model="registerDetails.confirmPassword" name="confirmPassword" required placeholder="Confirmer mot de passe"  aria-label="Confirmer mot de passe">
                </div>

                <div >
                  <small>
                    En cliquant sur Inscription, vous acceptez nos
                    <a href="{{application.website}}/connexion/conditions" target="_blank" rel="nofollow">Conditions</a> et indiquez que vous avez lu notre
                    <a href="{{application.website}}/connexion/confidentialite" target="_blank" rel="nofollow">Politique d’utilisation des données</a>.
                  </small>
                </div>
                <div >
                  <button type="submit" class="btn btn-default" ng-click="validateRegistrationDetails()" >
                    Inscription
                  </button>
                  <span class="hidden" >
                    <img class="img" ng-src="images/loader.gif" alt="" height="16">
                  </span>
                </div>
              </div>
            </div>
          </form>
          <div class="hidden">
            <div >
              An error occurred. Please try again.
            </div>
          </div>
          <div >
            <a href="/organization/signup/">
              Créer une compte
            </a>
           pour une école, une clinique ou une organisation.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
