		
		<div class="span8 well">
			<div id="search_box">
				<form ng-submit="displaySearchResults((childs.rows | filter: query).length)" class="form-search">
					<legend>Select child from the following list:</legend>
					<input id="search_field" type="text" class="input-large search-query" ng-model="query" on-focus="searching = 'true'; query = ''" on-blur="searching = 'false'" ng-enter="searching = 'false'">
					<button id="search_button" type="button" class="btn btn-primary btn-large" ng-click="displaySearchResults((childs.rows | filter: query).length)"><i class="icon-white icon-search"></i>Search</button>
				</form>
			</div>	
			<div class="report" ng-show="searching == 'false'">
				<div class="pagination-centered">
					<button class="btn btn-primary btn-mini" ng-disabled="currentResult == 0" ng-click="currentResult=currentResult-1"><i class="icon-white icon-arrow-left"></i></button>
					{{currentResult+1}}/{{numberOfResultPages()}}
					<button class="btn btn-primary btn-mini" ng-disabled="currentResult >= (childs.rows | filter: query).length/resultSize - 1" ng-click="currentResult=currentResult+1"><i class="icon-white icon-arrow-right"></i></button>
					<br /><br />
				</div>
				<div class="well">
				<ul class="" ng-repeat="child in childs.rows | filter: query | orderBy: 'value.lastName' | startFrom:currentResult*resultSize | limitTo:resultSize">
					
					<span>Participant ID: <a href="#/participants/{{child.value.participantID}}">{{child.value.participantID}}</a></span><br />
					<span>First Name: {{child.value.firstName}}</span><br />
					<span>Last Name: {{child.value.lastName}}</span><br />
					<span>Date of Birth (<i>dd/mm/yy</i>): {{child.value.DOB.day}}-{{child.value.DOB.month}}-{{child.value.DOB.year}}</span></br />
					<span ng-repeat="session in sessions.rows | filter: child.value.participantID">Session ID: <a href="#/sessions/{{session.value.sessionID}}">{{session.value.sessionID}}</a> ( {{session.value.testName}}; <img ng-src="img/headphones.png" height=10> : {{session.value.usedHeadphones | checkmark}} )<br /><span><a href='#/test/sails/{{child.value.participantID}}/{{session.value.sessionID}}'>TEST LINK TO SAILS TEST</a></span></span>
				</ul>
				</div>
			</div>
		</div>
	</div>


	<footer class="footer">


		<!-- Research and collaboration opportunties: <a
			href="http://www.medicine.mcgill.ca/srvachew/">http://www.medicine.mcgill.ca/srvachew/</a>
		&amp; User Support and Feedback: <a href="http://ilanguage.ca/phophlo">http://ilanguage.ca/phophlo</a>
 -->

		<p>&nbsp;</p>
		<ul>
			<li>Experimental Design &copy; Rvachew, Royle et al. All rights
				reserved.</li>
			<li>Illustrations &copy; Edith Lebel. All rights reserved.</li>
			<li>The PhoPhlo Source Code is free and OpenSourced on GitHub,
				licensed under the <a
				href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache
					License v2.0</a>. Documentation is also Open and licensed under the
				Creative Commons public domain license <a
				href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
			</li>
		</ul>

	</footer>

	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script type="text/javascript" src="./require.js"></script>
	<script type="text/javascript" src="./main_dashboard.js"></script>

