<div class="phophlobody fill">
	<div class="row">&nbsp;</div>	
	<div class="row-fluid">
		<div class="span4 pagination-centered">
			<img src="modules/tdfp/image_stimuli/r11_daisy.png">
		</div>
			
		<div class="span4 pagination-centered">
			<div class="well row-fluid">
				<h4>Congratulations!!!</h4>
			</div>
			
			<div class="well row-fluid">
				<form ng-submit="displaySearchResults((childs.rows | filter: query).length)" class="form-search">
					<h3>Do you want to save your score?</h3><br />
					<input type="text" class="input-large search-query" placeholder="Nickname"><br />
					<input type="text" class="input-large search-query" placeholder="First name"><br />
					<input type="text" class="input-large search-query" placeholder="Last name"><br /><br />
					<button type="button" class="btn btn-success" ng-click="saveScore()"><i class="icon-white icon-ok"></i>&nbsp;Save my score</button>
					<button type="button" class="btn btn-inverse" ng-click="noSave()"><i class="icon-white icon-remove"></i>&nbsp;No thanks</button>
				</form>	
			</div>
		</div>
	</div>
</div>
	


	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script type="text/javascript" src="./require.js"></script>
	<script type="text/javascript" src="./main_dashboard.js"></script>

