<oprime-experiment experimental-design-file="data/tcpp_design.js">
<oprime-tutorial> </oprime-tutorial>
<div class="greybody fill">
	<div class="row span12">
			<oprime-stimuli-control-buttons></oprime-stimuli-control-buttons>
		<div class="row-fluid span12">
			<oprime-four-image-stimulus></oprime-four-image-stimulus>
			<div class="span6  ">
				<img ng-src="image_stimuli/r00_caterpillars.png" />
			</div>
		</div>
	</div>

	experimentalDesign:
	{{experimentalDesign.subexperiments[currentExperiment].test}}
</div>

</oprime-experiment>

