<div id="experiment" class="sailsbody fill">

	<div class="row span12">
		<div class="row-fluid  pagination-centered">
			<h1>
				<i class="icon-forward pull-right"></i> <i
					class="icon-backward pull-left"></i>
			</h1>
			<img id="image_prime" src="modules/tcpp/image_stimuli/animal1.png"
				width="100" />

		</div>

		<div class="row-fluid ">
			<div class="span7 image_stimuli_presentation_area">
				<div class="row-fluid">
					<div class="span6 ">
						<img class="demo_confirm_box" id="stimuli1"
							src="modules/tcpp/image_stimuli/01_feu.png" ng-click="confirmChoice()" />
						<br /> <img class="
							demo_confirm_box" id="stimuli3"
							src="modules/tcpp/image_stimuli/03_but.png" ng-click="confirmChoice()" />
					</div>
					<div class="span6 ">
						<img class="demo_confirm_box" id="stimuli2"
							src="modules/tcpp/image_stimuli/02_chat.png" ng-click="confirmChoice()" />
						<br /> <img class="
							demo_confirm_box" id="stimuli4"
							src="modules/tcpp/image_stimuli/04_scie.png" ng-click="confirmChoice()" />
					</div>
				</div>
			</div>


			<div class="span5 border-left ">
				<img id="reinforcement_image"
					src="modules/tcpp/image_stimuli/r00_caterpillars.png" />
			</div>
		</div>
	</div>

	<div id="audio_stimuli_presentation_area" class="hidden">
		<audio id="audio_stimuli_player_source"  src={{audioStimulus}}
			ng-model="audio_stimulus"></audio>
		<audio id="audio_instructions_player_source"
			src="modules/tcpp/audio_stimuli/tcpp_instructions.mp3" autoplay
			ng-model="audio_instructions_player_source"></audio>
	</div>
</div>

