<!doctype html>
<html lang="en" ng-app="PushFakeDataApp" ng-csp>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PhoPhlo</title>
<link rel="stylesheet" type="text/css" href="dashboard.css">

<script src="libs/angular/angular.js"></script>
<script src="libs/angular/angular-resource.js"></script>
<script src="js/PushFakeDataApp.js"></script>
<script src="js/PushFakeDataController.js"></script>
<script src="js/PushFakeDataServices.js"></script>

</head>
<body id="app"
	ng-controller="PushFakeDataController">
	<form class="form-horizontal" ng-submit="saveFakeData(fake)"">
		<fieldset>
			<legend class="forcewhite">
				<span><img ng-src="img/phophlo.png" height="128" /></span><br />Create fake data
			</legend>
			
			<div class="control-group">
				<label class="control-label" >Date</label>
				<div class="controls">
					<input type="date" ng-model="fake.date"
						required>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" >Forecasted Inspection Date</label>
				<div class="controls">
					<input type="date" ng-model="fake.forecasted_inspection_date"
						required>
				</div>
			</div>
			
			<div class="control-group">  
            <label class="control-label">Inspection Stage</label>  
            <div class="controls">  
              <select class="span3" ng-model="fake.inspection_stage" required>    
               <option value="" disabled="disabled" selected="selected">Inspection Stage</option>
                <option value="IPC">IPC-Pre-Initial production Check
				<option value="DPI">DPI - During Production Check
				<option value="PSI">PSI - Pre-Inspection Check
				<option value="CLI">CLI: Container Loading Inspection
				<option value="FA">FA: Factory Audit
				</select>
            </div>  
          </div>  


			<div class="control-group">  
            <label class="control-label">Location</label>  
            <div class="controls">  
              <select class="span3" ng-model="fake.location" required>    
               <option value="" disabled="disabled" selected="selected">Location</option>
                <option value="Montreal">Montreal
				<option value="China">China
				</select>
            </div>  
          </div>  
          
          
          <div class="control-group">  
            <label class="control-label">SKU</label>  
            <div class="controls">  
              <select class="span3" ng-model="fake.sku.number" required>    
               <option value="" disabled="disabled" selected="selected">SKU</option>
                <option value="345678">345678 - Chocolate Chip Cookies
				<option value="987234">987234 - Butter Pecan Cookies
				<option value="789234">789234 - Oatmeal Raisin Cookies
				<option value="907234">907234 - Peanut Butter Cookies
				<option value="674589">674589 - Coconut Cookies
				</select>
            </div>  
          </div>  

<div class="control-group">  
            <label class="control-label">Supplier</label>  
            <div class="controls">  
              <select class="span3" ng-model="fake.supplier.number">    
               <option value="" disabled="disabled" selected="selected">Supplier</option>
                <option value="7562345689">7562345689 - Allied Biscuit
				</select>
            </div>  
          </div>  
          
          <div class="control-group">  
            <label class="control-label">Buyer</label>  
            <div class="controls">  
              <select class="span3" ng-model="fake.buyer.number">    
               <option value="" disabled="disabled" selected="selected">Buyer</option>
                <option value="6492057564">6492057564 - Foobars
				</select>
            </div>  
          </div>  

<div class="control-group">  
            <label class="control-label">Purchase Order</label>  
            <div class="controls">  
              <select class="span3" ng-model="fake.purchaseOrder.number" required>    
               <option value="" disabled="disabled" selected="selected">Purchase Order</option>
                <option value="7194">7194
				<option value="6749">6749
				<option value="1234">1234
				<option value="9056">9056
				<option value="7659">7659
				</select>
            </div>  
          </div>            			
			
			<div class="control-group">
				<label class="control-label" >Work Order</label>
				<div class="controls">
				{{fakeWordOrderNumber}}
				</div>
			</div>


<div class="control-group">  
            <label class="control-label">Assignment</label>  
            <div class="controls">  
              <select class="span3" ng-model="fake.assignment.number" required>    
               <option value="" disabled="disabled" selected="selected">Number</option>
                <option value="45238">45238
				<option value="90358">90358
				<option value="97234">97234
				</select>
            Date: <input type="date" ng-model="fake.assignment.date"
						required>
            </div>  
            
          </div>           

<div class="control-group">  
            <label class="control-label">Flagged</label>  
            <div class="controls">  
              <select class="span3" ng-model="fake.flagged" required>    
               <option value="" disabled="disabled" selected="selected">Yes/No</option>
                <option value="1">Yes
				<option value="0">No
				</select>
            </div>  
          </div>      
			

<div class="control-group">  
            <label class="control-label">Urgent</label>  
            <div class="controls">  
              <select class="span3" ng-model="fake.urgent" required>    
               <option value="" disabled="disabled" selected="selected">Yes/No</option>
                <option value="1">Yes
				<option value="0">No
				</select>
            </div>  
          </div>      
			

<div class="control-group">  
            <label class="control-label">Conclusion</label>  
            <div class="controls">  
              <select class="span3" ng-model="fake.conclusion.result" required>    
               <option value="" disabled="disabled" selected="selected">Conclusion</option>
                <option value="Accepted">Accepted
				<option value="Rejected">Rejected
				<option value="Rejected">On Hold
				
				</select>
            </div>  
          </div>      

			
			
			<hr />
			
			<div class="control-group">
				<label class="control-label" >Number of fake records to create</label>
				<div class="controls">
					<input type="text" class="input-xlarge" ng-model="fake.number"
						required><i class="icon-white icon-star">Required (max. 25)</i>
				</div>
			</div>
			<div class="well form-actions">  
		<button type="submit" class="btn btn-success btn-large">Create Fake New
		Records</button>
		</div>
		</fieldset>
		
	</form>
	
</body>
</html>