<div class="modal_header">
	<h4 class="locale_new_participant"></h4>
</div>
<div class="modal_body">
	<label class="locale_experimenter_code">Experimenter code:</label> 
	<input type="text" class="experimenter_code" value="GC" /> 
  <label class="locale_participant_code">Participant code:</label> 
	<input type="text" class="participant_code" value="17" />
</div>
<div class="modal_footer">
	<a href="#" class="btn btn-success locale_create_new_participant create_new_participant_button">Create New Participant</a>
</div>