<div id="experiment_dashboard" class="sailsbody fill"></div>

		<div class="row-fluid bordered touch_scoreboard">
			<p>&nbsp;</p>
			<h1>
				<i class="icon-forward pull-right"></i> <i
					class="icon-backward pull-left"></i>
			</h1>
			<table class="txtUpsideDown">
          <tr>
            <td>il/elle</td>
            <td>aux</td>
            <td>racine</td>
            <td>suffixe</td>
          </tr>
        </table>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</div>
		<div class="row-fluid ">
			<div class="span8 stimuli">
				<img
					src="image_stimuli/tdfm/01_PaulRejointSesAmisAuParcTousLesJours.jpg" />
			</div>
			<div class="span4 border-left reinforcement">
				<p>&nbsp;</p>
				<p>&nbsp;</p>

				<p>&nbsp;</p>
				<p>&nbsp;</p>

				No reinforcement?
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
			</div>
		</div>
		<div id="audio_stimuli_presentation_area" class="hidden">
			<audio id="audio_stimuli_player_source" src={{audioStimulus}} ng-model="audio_stimulus"></audio>
			<audio id="audio_instructions_player_source" src="audio_stimuli/tdfm/tdfm_instructions.mp3" ng-model="audio_instructions_player_source" autoplay></audio>
			</audio>
		</div>




  
<!-- Modals are windows which pop over the active app to take focus -->
<div id="new_participant" data-backdrop="static" class="hidden modal "></div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

  <script src="libs/jquery.js"></script>
  <script src="prototype.js"></script>
