@import url("../libs/angular-ui/angular-ui.css");

@import url("../libs/angular-ui/bootstrap.css");

@import url("../libs/angular-ui/bootstrap-responsive.css");

@import url("../libs/font_awesome/css/font-awesome.css");

@font-face {
  font-family: 'Finger Paint';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/FingerPaint-Regular.ttf');
}

@font-face {
  font-family: 'Chalkboard';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/chalkboard.ttf');
}

.control-label {
  font-family: 'Chalkboard';
  font-size: 1.6em;
}

legend {
  font-family: 'Chalkboard';
  font-size: 2em;
}

a:link {
  color: #000099;
} /* unvisited link */
a:visited {
  color: #000099;
} /* visited link */
a:hover {
  color: #000099;
} /* mouse over link */
a:active {
  color: #000099;
} /* selected link */
a:link.backgroundlink {
  color: #ffffff;
  text-decoration: none;
}

a:visited.backgroundlink {
  color: #ffffff;
  text-decoration: none;
}

a:hover.backgroundlink {
  color: #ffffff;
  text-decoration: none;
}

a:active.backgroundlink {
  color: #ffffff;
  text-decoration: none;
}

.fill {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

h1,h2,h3,h4 {
  font-family: 'Finger Paint', cursive;
}

h2 {
  color: #99ffff;
}

h4 {
  font-size: 2em;
}

.lead {
  font-family: 'Finger Paint', cursive;
}

.report {
  font-family: 'Verdana';
  font-size: 1.08em;
}

.well {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1.08em;
}

html {
  height: 100%
}

.phophlomenu {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -128px;
}

.participant_glimpse {
  color: #ccc;
  font-size: 0.7em;
}

.experimenter_glimpse {
  color: #ccc;
  font-size: 0.7em;
}

.child_specific_results {
  font-family: 'Finger Paint', cursive;
}

.box {
  border: 1px solid #E5E5E5;
}

div { /* text-align: center; */
  
}

footer {
  background-color: #333;
  color: #999;
  padding: 1em;
}

.credits p {
  text-align: center;
  width: 80%;
  margin: auto;
}

footer a a:visited a:link {
  color: #c3b381;
  font-weight: bold;
}

footer a:visited {
  color: #c3b381;
  font-weight: bold;
}

footer a:link {
  color: #c3b381;
  font-weight: bold;
}

.gravatar {
  height: 3em;
}

progress {
  width: 100%;
}

.border-left {
  border-left: 1px solid #E5E5E5;
}

.bordered {
  border: 1px solid #E5E5E5;
}

.reinforcement { /* background-color: #ddd; */
  height: 100%;
}

.txtUpsideDown {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2 );
  /* IE6,IE7 */
  ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  /* IE8 */
  -moz-transform: rotate(-180deg); /* FF3.5+ */
  -o-transform: rotate(-180deg); /* Opera 10.5 */
  -webkit-transform: rotate(-180deg); /* Safari 3.1+, Chrome */
  position: absolute;
  width: 100%;
  margin: 1em;
}

.touch_scoreboard {
  text-align: center;
  font-family: 'Finger Paint', cursive;
  font-size: 3em;
}

@media print {
  .exec_summary {
    display: none !important;
  }
  .navbar {
    display: none !important;
  }
  .results_sidebar {
    display: none !important;
  }
  .well {
    border: 0px !important;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.05) !important;
  }
  .pdfSpacer {
    padding: 11em;
  }
}