<div class="sails_welcome" ng-show="experimentInProgress!=true">
  <img src="image_reinforcement/r01_mouse_cheese.png"><br /><br />
  <span class="navigate_text" ng-click="registerResponseAndGoToNext()">Commence!</span>
</div>
<div ng-show="experimentInProgress==true">
  <div class="sails_experiment_toolbar">
	 <div class="left_align"><i class="icon-backward"></i></div>
	 <div class="right_align"><i class="icon-forward"></i></div>
  </div>

  <div class="sails_left_block">
		<div class="top_vertical"><img src="img/gris.png" ng-click="registerResponseAndGoToNext($event, 'gris')"></div>
		<div class="bottom_vertical"><img src="img/pas_gris.png" ng-click="registerResponseAndGoToNext($event, 'X')"></div>
  </div>
  <div class="sails_right_block">
	 <div class="all_vertical"><img ng-src="image_reinforcement/r{{reinforcementImageIndex}}_mouse_cheese.png"></div>
  </div>
</div>