<div class="phophlobody fill">
	<div class="row">&nbsp;</div>	
	<div class="row-fluid">
		<div class="span4 pagination-centered">
			<img src="../image_stimuli/sails_congratulations.png">
		</div>
			
		<div class="span4 pagination-centered">
			<div class="well row-fluid">
				<h4>Congratulations!!!</h4>
			</div>
			
			<div class="well row-fluid">
				<form class="form-search">
					<h3>Do you want to save your score?</h3><br />
					<input type="text" class="input-large search-query" placeholder="Nickname" ng-model="child.nickname"><br />
					<input type="text" class="input-large search-query" placeholder="First name" ng-model="child.firstName"><br />
					<input type="text" class="input-large search-query" placeholder="Last name" ng-model="child.lastName"><br /><br />
					<button type="button" class="btn btn-success" ng-click="saveScore(child)"><i class="icon-white icon-ok"></i>&nbsp;Save my score</button>
					<button type="button" class="btn btn-inverse" ng-click="noSave()"><i class="icon-white icon-remove"></i>&nbsp;No thanks</button>
				</form>	
			</div>
		</div>
	</div>
</div>
